In [40]:
# Answer 1
x= (5,3,5.5)
print(x[2])

5.5

In [41]:
# Answer 2
y = (10,20,30)
a,b,c =y
print(a)
print(b)
print(c)

10
20
30

In [42]:
# Answer 3
my_tuple=(1,2,3,4)
my_list= list(my_tuple)
my_list.insert(2,50)
my_tuple=tuple(my_list)
print(my_tuple)

(1, 2, 50, 3, 4)

In [43]:
# Answer 4
x=("a","h","m","e","d")
y= "".join(x)
print(y)

ahmed

In [44]:
# Answer 5
my_tuple = (1, 2, 3, 2, 4, 5, 3, 6, 2)
items = set([item for item in my_tuple if my_tuple.count(item) > 1])

print(items)

{2, 3}

In [45]:
#answer 6
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
my_list.pop(2)
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 4, 5)

In [46]:
#answer 7
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple= my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [47]:
#ŸêAnswer 8
my_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
new_list = [t[:-1] + (0,) for t in my_list]
print(new_list)

[(1, 2, 0), (4, 5, 0), (7, 8, 0)]

#List

In [48]:
#answer 1
x = ["ahmed" , "mohamed" , "ali"]
x.append("mahmoud")
print(x)

['ahmed', 'mohamed', 'ali', 'mahmoud']

In [49]:
# answer 2
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [50]:
# answer 3
colors = ["red", "green", "blue"]
colors.insert(1, "yellow")
print(colors)

['red', 'yellow', 'green', 'blue']

In [51]:
# answer 4
cities = ["cairo", "London", "port said", "cairo", "Tokyo"]
cities.remove("cairo")
print(cities)

['London', 'port said', 'cairo', 'Tokyo']

In [52]:
# answer 5
animals = ["dog", "cat", "rabbit", "elephant"]
re_animal = animals.pop(1)
print(re_animal)

cat

In [53]:
# answer 6
x = [5, 9, 3, 8, 6]
x.clear()
print(x)

[]

#Dictionary

In [54]:
#answer 1
x = {"key1":"cairo","key2":"port_said"}
y=x.get("France","paris")
print(y)

paris

In [55]:
# answer 2
languages = {"Python": "pandas","JavaScript": "React","Java": "Spring","Ruby":"Rails"}
y = list(languages.keys())
print(y)

['Python', 'JavaScript', 'Java', 'Ruby']

In [56]:
# answer 3
x = list(languages.values())
print(x)

['pandas', 'React', 'Spring', 'Rails']

In [57]:
#answer 4
items_prices = {
    "Apple": 80,"Banana": 25,"Orange": 30}
x = list(items_prices.items())
print(x)

[('Apple', 80), ('Banana', 25), ('Orange', 30)]

In [58]:
# answer 5
x = {"Apple": 80,"Banana": 25,"Orange": 30}
x.update({"strawberry":30})
print(x)

{'Apple': 80, 'Banana': 25, 'Orange': 30, 'strawberry': 30}

In [59]:
#answer 6
y=x.pop("Apple")
print(y)
print(x)

80
{'Banana': 25, 'Orange': 30, 'strawberry': 30}

In [60]:
# answer 7
x.clear()
print(x)

{}