<a href="https://colab.research.google.com/github/Ahmed-Azmy-ELnakib/AMIT_assignment/blob/main/Assignment_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Answer 1
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)

n_terms = 10
for i in range(n_terms):
    print(fibonacci(i), end=" ")

0 1 1 2 3 5 8 13 21 34

In [3]:
# Answer 2
def word_frequency(strings):
    words = " ".join(strings).split()
    freq = {}
    for x in words:
        freq[x] = freq.get(x, 0) + 1
    return freq

strings = ["hello world", "hello ahmed", "ahmed is good"]
print(word_frequency(strings))

{'hello': 2, 'world': 1, 'ahmed': 2, 'is': 1, 'good': 1}

In [5]:
# Answer 3
def find_pairs(list, target):
    pairs = []
    for i in range(len(my_list)):
        for j in range(i + 1, len(my_list)):
            if my_list[i] + my_list[j] == target:
                pairs.append((my_list[i], my_list[j]))
    return pairs

my_list = [1, 2, 3, 4, 5, 6]
target = 7
print(find_pairs(my_list, target))

[(1, 6), (2, 5), (3, 4)]

In [10]:
# Answer 4
def max_product(my_list):
    if len(my_list) < 2:
        return None
    my_list.sort()
    return my_list[-1] * my_list[-2]

my_list = [1, 10, 3, 7, 5]
print(max_product(my_list))

70

In [11]:
# Answer 5
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

print(is_prime(29))

True

In [13]:
# Answer 6
def print_even_numbers(my_list):
    return [num for num in my_list if num % 2 == 0]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(print_even_numbers(my_list))

[2, 4, 6, 8, 10]

In [15]:
# Answer 7
def reverse_words(sentence):
    return " ".join(sentence.split()[::-1])

sentence = "Hello world"
print(reverse_words(sentence))

world Hello

In [16]:
# Answer 8
def is_palindrome(x):
    x_str = str(x)
    return x_str == x_str[::-1]

print(is_palindrome(121))
print(is_palindrome(-121))

True
False

In [17]:
# Answer 9
def is_string_palindrome(string):
    string = string.lower().replace(" ", "")
    return string == string[::-1]

print(is_string_palindrome("madam"))
print(is_string_palindrome("hello"))

True
False

In [18]:
# Answer 10
def squares_list():
    return [x ** 2 for x in range(1, 31)]

print(squares_list())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]