1- add an item to a tuple

In [2]:
my_tuple=(1,2,3,4)
item = 5
my_tuple = my_tuple + (item,)
print(my_tuple)

(1, 2, 3, 4, 5)

2- sum all items in a list

In [5]:
numbers=[1,2,3,4,5]
total=sum(numbers)
print(total)

15

3- Multiply all items in a list

In [6]:
numbers=[1,2,3,4,5]
x=1
for i in numbers:
  x*=i
print(x)

120

4. Get the smallest number from a list

In [11]:
numbers=[1,2,3,4,5]
smallest=numbers[0]
for i in numbers:
  if i < smallest:
    smallest=i
print(smallest)

1

5. Get the largest number from a list

In [14]:
numbers=[1,2,3,4,5]
largest=numbers[0]
for i in numbers:
  if i > largest:
    largest=i
print(largest)

5

6. Count the number of strings in a list

In [21]:
my_list=["ahmed","ali",5,"mohamed",12]
count=0
for i in my_list:
  if type(i)==str:
    count+=1
print(count)

3

7. Clone or copy a list

In [22]:
original_list=[1,2,3,4,5]
copied_list=original_list.copy()
print(copied_list)

[1, 2, 3, 4, 5]

8. Remove item(s) from a set

In [34]:
my_set={1,2,3,4,5}
my_set.remove(4)
print(my_set)

{1, 2, 3, 5}

9. Check if a set is a subset of another set

In [37]:
a= {1,2,3}
b= {1,2,3,4,5}
print(a.issubset(b))

True

10. Remove all elements from a set

In [39]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

11. Find maximum and minimum values in a set

In [41]:
my_set={1,2,3,4,5}
print(max(my_set))
print(min(my_set))

5
1

12. Find the index of an item in a tuple

In [42]:
my_tuple=(1,2,3,4,5)
print(my_tuple.index(3))

2

13. Convert a tuple to a dictionary

In [43]:
my_tuple=(("a",1),("b",2))
my_dict=dict(my_tuple)
print(my_dict)

{'a': 1, 'b': 2}

14. Unzip a list of tuples into individual lists

In [47]:
list=[(1,"ahmed"),(2,"ali")]
a,b=zip(*list)
print(a)
print(b)

(1, 2)
('ahmed', 'ali')

15. Reverse a tuple

In [48]:
my_tuple=(1,2,3,4,5)
my_tuple=my_tuple[::-1]
print(my_tuple)

(5, 4, 3, 2, 1)

16. Convert a list of tuples into a dictionary

In [50]:
my_tuple=[("a",1),("b",2)]
my_dict=dict(my_tuple)
print(my_dict)

{'a': 1, 'b': 2}

17. Replace the last value of tuples in a list

In [52]:
my_tuple=[(1,2,3),(4,5,6),(7,8,9)]
new_value=10
for i in range(len(my_tuple)):
  my_tuple[i]=my_tuple[i][:-1]+(new_value,)
print(my_tuple)

[(1, 2, 10), (4, 5, 10), (7, 8, 10)]

18. Sort a tuple by its float element (using for)

In [54]:
my_tuple=[("a",2.3),("b",1.2)]

for i in range(len(my_tuple)):
  for j in range(i+1,len(my_tuple)):
    if my_tuple[i][1]>my_tuple[j][1]:
      my_tuple[i],my_tuple[j]=my_tuple[j],my_tuple[i]
print(my_tuple)

[('b', 1.2), ('a', 2.3)]