<a href="https://colab.research.google.com/github/Ahmed-Azmy-ELnakib/AMIT_assignment/blob/main/Test_Messy_Food_Waste_Prediction_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [ ]:
df=pd.read_csv(r"/content/train.csv")

In [ ]:
df

,ID,date,meals_served,kitchen_staff,temperature_C,humidity_percent,day_of_week,special_event,past_waste_kg,staff_experience,waste_category,food_waste_kg
0,0,2022-12-19,196,13,27.887273,45.362854,0,0,7.740587,intermediate,dairy,28.946465
1,1,2023-11-21,244,15,10.317872,64.430475,1,0,42.311779,NaN,MeAt,51.549053
2,4,2022-02-01,148,16,27.714300,69.046113,1,0,41.184305,Beginner,MeAt,53.008323
3,5,2023-03-19,157,19,19.173902,46.292823,6,0,41.543492,Beginner,MeAt,48.621527
4,6,2022-07-18,297,10,26.375233,79.741064,0,0,26.525097,Intermediate,MEAT,44.156984
...,...,...,...,...,...,...,...,...,...,...,...,...
906,1044,2022-03-29,395,18,17.354199,45.138435,1,0,40.550668,Intermediate,GRAINS,50.369152
907,1045,2022-11-27,483,11,24.912137,59.485091,6,0,36.470276,intermediate,dairy,43.070121
908,1046,2023-04-12,243,11,28.870945,70.508404,2,0,19.767203,Intermediate,MeAt,29.632560
909,1048,2022-02-14,406,10,19.061638,55.286642,0,0,28.560361,EXPERT,MEAT,44.615759
910,1049,2024-05-10,350,6,23.708015,51.351286,4,0,46.786860,intermediate,Vegetables,57.066481

In [ ]:
filter=df[df["special_event"]== 1]
filter

,ID,date,meals_served,kitchen_staff,temperature_C,humidity_percent,day_of_week,special_event,past_waste_kg,staff_experience,waste_category,food_waste_kg
7,9,2023-12-16,416,16,18.559591,75.786502,5,1,34.599442,Intermediate,MeAt,72.052407
17,20,2022-09-02,283,8,18.918301,36.075595,4,1,7.659762,Beginner,dairy,31.322979
23,26,2022-10-18,353,11,10.437900,70.643239,1,1,17.269279,EXPERT,MEAT,45.979543
40,43,2023-10-16,280,18,20.607422,76.880930,0,1,14.552854,Beginner,GRAINS,53.599275
48,51,2022-11-06,439,8,28.810694,72.653083,6,1,30.730519,EXPERT,MEAT,63.614890
...,...,...,...,...,...,...,...,...,...,...,...,...
867,1003,2024-02-16,291,13,25.053641,46.141179,4,1,46.274927,intermediate,Vegetables,55.467005
868,1004,2022-08-30,346,11,18.981269,53.152470,1,1,39.054114,intermediate,Vegetables,62.049792
882,1019,2022-09-01,302,18,25.138454,65.759331,3,1,12.473368,NaN,MEAT,49.759978
891,1028,2023-12-01,281,18,28.704798,87.379206,4,1,38.557295,Beginner,GRAINS,56.325688
896,1033,2022-09-10,297,10,10.854694,88.321515,5,1,12.644267,EXPERT,MeAt,44.564754

In [ ]:
df["special_event"].value_counts()

special_event
0    833
1     78
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                911 non-null    int64
 1   date              911 non-null    object
 2   meals_served      911 non-null    int64
 3   kitchen_staff     911 non-null    int64
 4   temperature_C     911 non-null    float64
 5   humidity_percent  911 non-null    float64
 6   day_of_week       911 non-null    int64
 7   special_event     911 non-null    int64
 8   past_waste_kg     911 non-null    float64
 9   staff_experience  747 non-null    object
 10  waste_category    911 non-null    object
 11  food_waste_kg     911 non-null    float64
dtypes: float64(4), int64(5), object(3)
memory usage: 85.5+ KB

In [ ]:
df.describe()

,ID,meals_served,kitchen_staff,temperature_C,humidity_percent,day_of_week,special_event,past_waste_kg,food_waste_kg
count,911.000000,911.000000,911.000000,911.000000,911.000000,911.000000,911.000000,911.000000,911.000000
mean,528.327113,375.405049,11.900110,22.189280,60.761313,3.014270,0.085620,27.015691,44.842691
std,305.072794,502.812717,4.285153,8.922389,17.330821,2.009542,0.279956,12.774223,27.934366
min,0.000000,100.000000,5.000000,-10.372207,30.121111,0.000000,0.000000,5.008394,10.819048
25%,266.000000,211.000000,8.000000,15.684585,46.017835,1.000000,0.000000,16.091383,32.887912
50%,531.000000,306.000000,12.000000,22.115040,61.633960,3.000000,0.000000,26.854109,41.146930
75%,795.500000,407.000000,15.000000,28.804294,75.787910,5.000000,0.000000,38.149878,50.046681
max,1049.000000,4730.000000,19.000000,60.000000,89.982828,6.000000,1.000000,49.803703,274.328783

In [ ]:
df.skew(numeric_only=True)

ID                 -0.015749
meals_served        6.581128
kitchen_staff       0.020202
temperature_C       0.111854
humidity_percent   -0.093234
day_of_week        -0.008186
special_event       2.966833
past_waste_kg       0.016268
food_waste_kg       4.990900
dtype: float64

In [ ]:
df.duplicated().sum()

0

In [ ]:
dtypes=df.dtypes
uniques=df.nunique()
pd.DataFrame({"dtypes":dtypes,"uniques":uniques}).T

,ID,date,meals_served,kitchen_staff,temperature_C,humidity_percent,day_of_week,special_event,past_waste_kg,staff_experience,waste_category,food_waste_kg
dtypes,int64,object,int64,int64,float64,float64,int64,int64,float64,object,object,float64
uniques,911,867,373,15,892,867,7,2,867,4,5,867

In [ ]:
df.drop(columns=["ID","date"],inplace=True)

In [ ]:
df

,meals_served,kitchen_staff,temperature_C,humidity_percent,day_of_week,special_event,past_waste_kg,staff_experience,waste_category,food_waste_kg
0,196,13,27.887273,45.362854,0,0,7.740587,intermediate,dairy,28.946465
1,244,15,10.317872,64.430475,1,0,42.311779,NaN,MeAt,51.549053
2,148,16,27.714300,69.046113,1,0,41.184305,Beginner,MeAt,53.008323
3,157,19,19.173902,46.292823,6,0,41.543492,Beginner,MeAt,48.621527
4,297,10,26.375233,79.741064,0,0,26.525097,Intermediate,MEAT,44.156984
...,...,...,...,...,...,...,...,...,...,...
906,395,18,17.354199,45.138435,1,0,40.550668,Intermediate,GRAINS,50.369152
907,483,11,24.912137,59.485091,6,0,36.470276,intermediate,dairy,43.070121
908,243,11,28.870945,70.508404,2,0,19.767203,Intermediate,MeAt,29.632560
909,406,10,19.061638,55.286642,0,0,28.560361,EXPERT,MEAT,44.615759
910,350,6,23.708015,51.351286,4,0,46.786860,intermediate,Vegetables,57.066481

In [ ]:
def handle_outlier(df,cols,method="IQR",threshold=1.5,strategy="replace"):
  for col in cols:
    if method=="IQR":
      Q1=df[col].quantile(0.25)
      Q3=df[col].quantile(0.75)
      IQR = Q3-Q1
      lower_bound = Q1-threshold*IQR
      upper_bound = Q3+threshold*IQR
    elif method=="Z-score":
      mean=df[col].mean()
      std=df[col].std()
      lower_bound=mean-threshold*std
      upper_bound=mean+threshold*std
    else:
      print("Invalid method")
    if strategy=="replace":
      df[col]=np.clip(df[col],lower_bound,upper_bound)
    elif strategy=="remove":
      df=df[(df[col]>=lower_bound)&(df[col]<=upper_bound)]
    else:
      print("Invalid strategy. shoose 'replace' or 'remove'")
  return df
column_to_check=[["meals_served","food_waste_kg"]]



column_to_check=df[["temperature_C"]]
df=handle_outlier(df,column_to_check,method="IQR",threshold=.75,strategy="replace")

In [ ]:
df.isnull().sum()

meals_served          0
kitchen_staff         0
temperature_C         0
humidity_percent      0
day_of_week           0
special_event         0
past_waste_kg         0
staff_experience    164
waste_category        0
food_waste_kg         0
dtype: int64

In [ ]:
df[["staff_experience","waste_category"]]=df[["staff_experience","waste_category"]].apply(lambda x:x.str.lower().str.strip())

In [ ]:
df["staff_experience"].value_counts()

staff_experience
intermediate    370
beginner        191
expert          186
Name: count, dtype: int64

In [ ]:
staff_mode =df["staff_experience"].mode()[0]
df["staff_experience"].fillna(staff_mode,inplace=True)

<ipython-input-17-77eb95b2503b>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["staff_experience"].fillna(staff_mode,inplace=True)

In [ ]:
df["staff_experience"].value_counts()

staff_experience
intermediate    534
beginner        191
expert          186
Name: count, dtype: int64

In [ ]:
df["waste_category"].value_counts()

waste_category
meat          379
dairy         180
vegetables    176
grains        176
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df["staff_experience_encoded"]=LE.fit_transform(df["staff_experience"])
df["waste_category_encoded"]=LE.fit_transform(df["waste_category"])
df

,meals_served,kitchen_staff,temperature_C,humidity_percent,day_of_week,special_event,past_waste_kg,staff_experience,waste_category,food_waste_kg,staff_experience_encoded,waste_category_encoded
0,196,13,27.887273,45.362854,0,0,7.740587,intermediate,dairy,28.946465,2,0
1,244,15,10.317872,64.430475,1,0,42.311779,intermediate,meat,51.549053,2,2
2,148,16,27.714300,69.046113,1,0,41.184305,beginner,meat,53.008323,0,2
3,157,19,19.173902,46.292823,6,0,41.543492,beginner,meat,48.621527,0,2
4,297,10,26.375233,79.741064,0,0,26.525097,intermediate,meat,44.156984,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
906,395,18,17.354199,45.138435,1,0,40.550668,intermediate,grains,50.369152,2,1
907,483,11,24.912137,59.485091,6,0,36.470276,intermediate,dairy,43.070121,2,0
908,243,11,28.870945,70.508404,2,0,19.767203,intermediate,meat,29.632560,2,2
909,406,10,19.061638,55.286642,0,0,28.560361,expert,meat,44.615759,1,2
910,350,6,23.708015,51.351286,4,0,46.786860,intermediate,vegetables,57.066481,2,3

In [ ]:
df.drop(columns=["staff_experience","waste_category"],inplace=True)
df

,meals_served,kitchen_staff,temperature_C,humidity_percent,day_of_week,special_event,past_waste_kg,food_waste_kg,staff_experience_encoded,waste_category_encoded
0,196,13,27.887273,45.362854,0,0,7.740587,28.946465,2,0
1,244,15,10.317872,64.430475,1,0,42.311779,51.549053,2,2
2,148,16,27.714300,69.046113,1,0,41.184305,53.008323,0,2
3,157,19,19.173902,46.292823,6,0,41.543492,48.621527,0,2
4,297,10,26.375233,79.741064,0,0,26.525097,44.156984,2,2
...,...,...,...,...,...,...,...,...,...,...
906,395,18,17.354199,45.138435,1,0,40.550668,50.369152,2,1
907,483,11,24.912137,59.485091,6,0,36.470276,43.070121,2,0
908,243,11,28.870945,70.508404,2,0,19.767203,29.632560,2,2
909,406,10,19.061638,55.286642,0,0,28.560361,44.615759,1,2
910,350,6,23.708015,51.351286,4,0,46.786860,57.066481,2,3

In [ ]:
x=df.drop(columns=["food_waste_kg"])
y=df["food_waste_kg"]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()
x_scaler=scaler.fit_transform(x)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x_scaler,y,test_size=0.2,random_state=42)

In [ ]:
model = LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
y_pred_train=model.predict(x_train)

In [ ]:
MAE=mean_absolute_error(y_test,y_pred)
MSE=mean_squared_error(y_test,y_pred)
R2=r2_score(y_test,y_pred)

print(f"mean absolute error (MAE):{MAE}")
print(f"mean squared error (MSE):{MSE}")
print(f"r2_score (R2): {R2}")

mean absolute error (MAE):5.462934335754993
mean squared error (MSE):129.82101633693546
r2_score (R2): 0.7466256398031739

In [ ]:
MAE_test=mean_absolute_error(y_train,y_pred_train)
MSE_test=mean_squared_error(y_train,y_pred_train)
R2_test=r2_score(y_train,y_pred_train)

print(f"mean absolute error (MAE):{MAE_test}")
print(f"mean squared error (MSE):{MSE_test}")
print(f"r2_score (R2): {R2_test}")

mean absolute error (MAE):5.282662816348714
mean squared error (MSE):120.5147863390155
r2_score (R2): 0.8572936535724821